@import "tailwindcss";

html,
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #f5e6d3;
  /* color: #ffffff; */
}

#loader {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999999999999999;
  animation: slideUp 0.8s ease-in-out forwards;
  animation-delay: 2s; /* after fill completes */
}

.logo-wrapper {
  animation: logoSlideUp 0.8s ease-in-out forwards;
  position: absolute;
  opacity: 0.5;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

/* === LOGO === */
.logo-loader {
  width: 200px;
  height: auto;
}

.logo-loader path {
  stroke: white;
  stroke-width: 2;
  fill: white;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s ease forwards, clipReveal 2s ease 2s forwards;
  clip-path: inset(100% 0 0 0);
}

/* Reveal the fill from bottom to top */
@keyframes clipReveal {
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* rise-from-bottom fill animation */
@keyframes fillUp {
  to {
    transform: scaleY(1);
    fill: white;
  }
}

/* === INITIAL OUTLINE STYLE === */

@keyframes logoSlideUp {
  to {
    transform: translate(-50%, -100%);
    opacity: 1;
  }
}

@keyframes slideUp {
  to {
    transform: translateY(-100%);
  }
}
