@import "tailwindcss";

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/bebas-neue.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.font-bebas-neue {
  font-family: "Bebas Neue", cursive;
}

html,
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #f5e6d3;
  /* color: #ffffff; */
}

#loader {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999999999999999;
  animation: slideUp 0.8s ease-in-out forwards;
  animation-delay: 2s; /* after fill completes */
}

.logo-wrapper {
  animation: logoSlideUp 0.8s ease-in-out forwards;
  position: absolute;
  opacity: 0.5;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

/* === LOGO === */
.logo-loader {
  width: 200px;
  height: auto;
}

.logo-loader path {
  fill: #808080; /* initial color */
  clip-path: inset(100% 0 0 0); /* fully clipped (hidden) */
  animation: fillUp 1s ease-in-out 1s forwards;
}

.logo-loader-path {
  clip-path: inset(100% 0 0 0); /* hidden at start */
  animation: fillUp 1s ease-in-out 1s forwards;
}

@keyframes fillUp {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    fill: white;
    clip-path: inset(0 0 0 0);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.marqueeInner::-webkit-scrollbar {
  display: none;
}
